<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layoutCompte">

<head>
<title>Layout</title>
</head>

<body>

	<div layout:fragment="content"> 
      <a class="btn btn-primary" href="ajoutancienpcb1">
     			 Ajouter
      </a>  <br/><br/>    
	<table id="example" class="table table-hover table-bordered">
		<thead>
		  <tr class="info">
				  <td>Compte</td>
				  <td>Intitule</td>
				  <td>Compte parent</td>
				  <td></td>
		  </tr>
		</thead>
		<tbody>
			<tr th:each="l:${listes}">
					  <td th:text="${l.compte_nouveau}"></td>
					  <td th:text="${l.intitule}"></td>
					  <td th:if="${l.parent != null}" th:text="${l.parent.compte_nouveau}"></td>
					  <td th:if="${l.parent == null}" ></td>
					  <td>
					  	 <a  th:href="@{ajoutancienpcb(compte_ancien=${l.compte_nouveau})}"><i class="fa fa-list-alt"> Sous compte</i></a> 
					  </td>
			  </tr>
		</tbody>
		</table>
   </div>
  
</body>
</html>