<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    
    
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"></link>

  <!-- MetisMenu CSS -->
    <link href="../static/css/metisMenu/metisMenu.min.css" rel="stylesheet" th:href="@{/css/metisMenu/metisMenu.min.css}"></link>

    <!-- Custom CSS -->
    <link href="../static/css/sb-admin-2.css" rel="stylesheet" th:href="@{/css/sb-admin-2.css}"></link>

    <!-- Morris Charts CSS -->
    <link href="../static/css/morrisjs/morris.css" rel="stylesheet" th:href="@{/css/morrisjs/morris.css}"></link>

    <!-- Custom Fonts -->
    <link href="../static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/css/font-awesome/css/font-awesome.min.css}"></link>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                    
                    <div th:if="${param.error}">
					    <label style="color:red">Invalid username and password.</label>
					</div>
                    
                    <form th:action="@{/login}" method="post" >
					    <div class="form-group">
					      <label for="exampleInputEmail1">Login</label>
					      <input name="username"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Saisir nom">
					      <span  ></span>
					    </div>
					    <div class="form-group">
					      <label for="exampleInputEmail1">Password</label>
					      <input name="password"  type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
					      <span  ></span>
					    </div>
					    <button type="submit" class="btn btn-primary">Connexion</button>
					</form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="../static/js/jquery/jquery.min.js" th:src="@{/js/jquery/jquery.min.js}"></script>
		 
		 <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		 
		 <script src="../static/css/metisMenu/metisMenu.min.js" th:src="@{/css/metisMenu/metisMenu.min.js}"></script>
		 
		 <script src="../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>

</body>

</html>
